/*div.subhead{
    background:#808080;
}
div.content{
    float:left;
    width:70%;
}
div.rightMenu{
    float:right;
    width:30%;
    background:#C0C0C0;
}
div.footer{
    clear:both;
    height:10%;
    background:#808080;
}*/